doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{ title || 'Thermal Composites - McAllister Mills' }
    block styles
      link(rel="stylesheet" href="/css/style.css")
    block scripts
      script(src="https://identity.netlify.com/v1/netlify-identity-widget.js")
  body
    block body
