extends /layouts/default.pug

append content
  h2 Thermal Materials
  ul
    for form in collections.materialsSimple
      li
        div: a(href=`${ form.url }`)= form.data.heading
        div= form.data.lead

  h2 Fabricated Materials
  ul
    for form in collections.materialsComposite
      li
        div: a(href=`${ form.url }`)= form.data.heading
        div= form.data.lead
