extends /layouts/default
include /_mixins

append content
  each line in collections.productLines
    .card.mb-4
      .card-body
        h4.card-title
          a(href=line.url)= line.data.name
          |&nbsp;
          small.float-right #{line.data.temperature}ºF
            |&nbsp;/&nbsp;
            +tempInC(line.data.temperature)
        if line.data.lead
          p.lead.mb-0= line.data.lead
