---
title: "Contact Us"
layout: /layouts/default.pug
heading: "Contact Us"
lead: "Let's have a heated discussion."
---
block content
  table
    tbody
      tr
        th(width="33%") Call Us
        td site.phone
      tr
        th Email
        td site.email
      tr
        th Phone
        td site.phone
      tr
        th Fax
        td site.fax
      tr
        th Mailing Address
        td site.address
